<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="index.js" async></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header">
      <nav class="nav" :class="{toggle: navSecondary}">
        <nav-item v-for="navItem in listNavItem" v-bind="navItem"></nav-item>
      </nav>

    </header>
    
    <main id="app">
        <section class="containerFlexRow">
            <article class="card"></article>
            <article class="card"></article>
            <article class="card"></article>
            <article class="card"></article>
        </section>

    </main>
</body>
</html>