*{
    margin: 0;
    padding: 0;
}
.nav{
    position: fixed;
    bottom: 0;
    border-top: 3px solid #999;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #6495ed45;

    border-radius: 20px 20px 0 0;

    overflow:hidden;
    transition: max-height 0.2s cubic-bezier(.68,-0.55,.27,1.55);
    height: auto;
    max-height: 70px;
}

.toggle{
    max-height: 140px;
}

.groupIcon{
    padding-top: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-basis: calc(25% - 16px);
}

.groupIcon:hover{
    animation: pulse 0.2s infinite;
}

@keyframes pulse {
    0%{
        border-radius: 10%;
        background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
        background-position: 0px 0px, 100% 0;
        background-size: 2px 100%;
        background-repeat: no-repeat;
        border-top: 2px solid;
        border-top: 2px solid #3ACFD5;
        border-bottom: 2px solid #3a4ed5;
    }
    50%{
        border-radius: 10%;
        background-image: linear-gradient(to bottom, #3acfd5 50%, #3a4ed5 50%), linear-gradient(to bottom, #3acfd5 50%, #3a4ed5 50%);
        background-position: 0px 0px, 100% 0;
        background-size: 2px 100%;
        background-repeat: no-repeat;
        border-top: 2px solid;
        border-top: 2px solid #3ACFD5;
        border-bottom: 2px solid #3a4ed5;
    }
    100%{
        border-radius: 10%;
        background-image: linear-gradient(to bottom, #3a4ed5 0%, #3acfd5 100%), linear-gradient(to bottom,  #3a4ed5 0%, #3acfd5 100%);
        background-position: 0px 0px, 100% 0;
        background-size: 2px 100%;
        background-repeat: no-repeat;
        border-top: 2px solid;
        border-top: 2px solid #3a4ed5;
        border-bottom: 2px solid #3ACFD5;
    }
}
img{
    height: 30px;
    width: auto;
}
label{
    text-align: center;
}
main{
    margin-top: 15px;
    margin-bottom: 75px;
    padding-left: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}
.containerFlexRow{
    height: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.card{
    height: 110px;
    width: 190px;
    border-radius: 20px;
    border: 1px solid;
    margin: 5px;
}